BODY {
	SCROLLBAR-ARROW-COLOR: #895959; SCROLLBAR-FACE-COLOR: #dfdfdf; SCROLLBAR-DARKSHADOW-COLOR: #909090; SCROLLBAR-BASE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #c2c2c2; SCROLLBAR-TRACK-COLOR: #f8f8f8; SCROLLBAR-3DLIGHT-COLOR: #c2c2c2
}
TD.clsTabOn {
	BORDER-BOTTOM: #000000 0px solid; BORDER-LEFT: #bbbbbb 0px solid; BORDER-TOP: green 0px; CURSOR: hand; BORDER-RIGHT: black 0px solid
}
.clsTabOff {
	BORDER-BOTTOM: black 5px solid; BACKGROUND-COLOR: yellow; CURSOR: hand
}
TD.clsTabOnb {
	BORDER-BOTTOM: #000000 0px solid; BORDER-LEFT: black 0px solid; BORDER-TOP: green 0px; CURSOR: hand; BORDER-RIGHT: black 0px solid
}
TD.clsTabOffb {
	BORDER-BOTTOM: #000000 0px solid; BORDER-LEFT: #e7e7e7 0px solid; BACKGROUND-COLOR: #e7e7e7; BORDER-TOP: #000000 0px solid; CURSOR: hand; BORDER-RIGHT: #e7e7e7 0px solid
}
.Header {
	BACKGROUND-COLOR: #379a37; FONT-FAMILY: verdana,arial,helvetica; COLOR: white; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
A.footer:link {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: black; FONT-SIZE: 10px; CURSOR: hand; TEXT-DECORATION: none
}
A.footer:active {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: black; FONT-SIZE: 10px; CURSOR: hand; TEXT-DECORATION: none
}
A.footer:visited {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: black; FONT-SIZE: 10px; CURSOR: hand; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.footer:hover {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: red; FONT-SIZE: 10px; CURSOR: hand; TEXT-DECORATION: none
}
A.footer9:link {
	FONT: 10px verdana,tahoma,arial; COLOR: black
}
A.footer9:active {
	FONT: 10px verdana,tahoma,arial; COLOR: black
}
A.footer9:visited {
	FONT: 10px verdana,tahoma,arial; COLOR: black
}
A.footer9:hover {
	FONT: 10px verdana,tahoma,arial; COLOR: #6699ff
}
A.TabText:link {
	FONT: 11px tahoma,arial; COLOR: black
}
A.TabText:active {
	FONT: 11px tahoma,arial; COLOR: black
}
A.TabText:visited {
	FONT: 11px tahoma,arial; COLOR: black
}
A.TabText:hover {
	FONT: 11px tahoma,arial; COLOR: #6699ff; CURSOR: hand
}
A.TabTextOn:link {
	FONT: 11px tahoma,arial; COLOR: #004080
}
A.TabTextOn:active {
	FONT: 11px tahoma,arial; COLOR: #004080
}
A.TabTextOn:visited {
	FONT: 11px tahoma,arial; COLOR: #004080
}
A.TabTextOn:hover {
	FONT: 11px tahoma,arial; COLOR: #6699ff; CURSOR: hand
}
.boldsans {
	FONT-FAMILY: Arial, sans-serif; COLOR: #000000; FONT-SIZE: 10px
}
A.linkHeader:link {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: navy; FONT-SIZE: 10px; CURSOR: hand; TEXT-DECORATION: none
}
A.linkHeader:active {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: navy; FONT-SIZE: 10px; CURSOR: hand; TEXT-DECORATION: none
}
A.linkHeader:visited {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: navy; FONT-SIZE: 10px; CURSOR: hand; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.linkHeader:hover {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: silver; FONT-SIZE: 10px; CURSOR: hand; TEXT-DECORATION: none
}
.sideboxtitle {
	FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-SIZE: 10px
}
.tiny {
	FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.Content {
	FONT-FAMILY: verdana,arial,helvetica; FONT-SIZE: 9px
}
.ContentB {
	FONT-FAMILY: verdana,arial,helvetica; COLOR: black; FONT-SIZE: 13px
}
.windows {
	FONT-FAMILY: verdana,arial,helvetica; COLOR: black; FONT-SIZE: 10px
}
.TableContent {
	FONT-FAMILY: verdana,arial,helvetica; COLOR: black; FONT-SIZE: 10px
}
.TableHeaderWhite {
	FONT-FAMILY: verdana,arial,helvetica; COLOR: white; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.Button2 {
	BACKGROUND-COLOR: #d0d0d0; HEIGHT: 22px; COLOR: black; FONT-SIZE: 10px; FONT-WEIGHT: normal; font-face: verdana
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 12px
}
A.footer2:link {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: #003366; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.footer2:active {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: #003366; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.footer2:visited {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: #003366; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.footer2:hover {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: silver; FONT-SIZE: 11px; TEXT-DECORATION: none
}
A.Button:link {
	BORDER-BOTTOM: #c3daf9 1px solid; BORDER-LEFT: #c3daf9 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: block; BACKGROUND: #6798c7; FLOAT: right; COLOR: #fff; BORDER-TOP: #c3daf9 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c3daf9 1px solid; PADDING-TOP: 3px
}
A.Button:visited {
	BORDER-BOTTOM: #c3daf9 1px solid; BORDER-LEFT: #c3daf9 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; DISPLAY: block; BACKGROUND: #6798c7; FLOAT: right; COLOR: #fff; BORDER-TOP: #c3daf9 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c3daf9 1px solid; PADDING-TOP: 3px
}
A.Button:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.bannerTable {
	BACKGROUND-COLOR: #6798c7
}
.CompanyTitle {
	FONT-FAMILY: Verdana, Arial, Helvetica; COLOR: white; FONT-SIZE: 24px
}
A.bannerTitle {
	FONT-FAMILY: Trebuchet MS, Arial, Helvetica; COLOR: white; FONT-SIZE: 1.6em
}
A.bannerTitle:visited {
	FONT-FAMILY: Trebuchet MS, Arial, Helvetica; COLOR: white; FONT-SIZE: 1.6em
}
A.bannerTitle:hover {
	FONT-FAMILY: Trebuchet MS, Arial, Helvetica; COLOR: white; FONT-SIZE: 1.6em
}
A.bannerTitle:link {
	FONT-FAMILY: Trebuchet MS, Arial, Helvetica; COLOR: white; FONT-SIZE: 1.6em
}
.CompanyTag {
	POSITION: relative; FONT-FAMILY: Verdana,Trebuchet MS, Arial, Helvetica; COLOR: white; FONT-SIZE: 17px; TOP: 4px
}
.bannerWelcome {
	FONT-FAMILY: Trebuchet MS, Arial, Helvetica; COLOR: black; FONT-SIZE: 0.8em
}
A {
	COLOR: #246398; TEXT-DECORATION: none
}
#headertab {
	TEXT-ALIGN: right; LINE-HEIGHT: normal; MARGIN-TOP: 8px; WIDTH: 100%; BACKGROUND: #6798c7; FLOAT: left; FONT-SIZE: 0.6em
}
#headertab UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#headertab LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 0px; BACKGROUND: url(../graphics/lefttab.gif) no-repeat left top; FLOAT: right; PADDING-TOP: 0px
}
#headertab UL A {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: url(../graphics/righttab.gif) no-repeat right top; FLOAT: left; COLOR: #26435f; TEXT-DECORATION: none; PADDING-TOP: 5px
}
#headertab A {
	FLOAT: none
}
#headertab A:hover {
	COLOR: #333
}
#headertab .currenttab {
	BACKGROUND-IMAGE: url(../graphics/lefttab_on.gif)
}
#headertab .currenttab A {
	BACKGROUND-IMAGE: url(../graphics/righttab_on.gif); PADDING-BOTTOM: 6px; COLOR: #333
}
.A1 {
	COLOR: #004080; TEXT-DECORATION: none
}
.F1 {
	FONT-FAMILY: tahoma; COLOR: black; FONT-SIZE: 11px
}
.ViewMenuText {
	FONT-FAMILY: tahoma; COLOR: #004080; FONT-SIZE: 11px
}
.ViewsText {
	FONT-FAMILY: tahoma; COLOR: #004080; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.Button1 {
	BORDER-BOTTOM: 0px; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#dcdcdc,endColorStr=white) progid:DXImageTransform.Microsoft.Glow(color=black,strength=1); BORDER-LEFT: 0px; PADDING-BOTTOM: 1px; WIDTH: 125px; FONT: 8pt Verdana; COLOR: #555555; BORDER-TOP: 0px; CURSOR: hand; BORDER-RIGHT: 0px; PADDING-TOP: 1px
}
.F1 {
	FONT-FAMILY: verdana; COLOR: black; FONT-SIZE: 13px
}
.Button1 {
	BORDER-BOTTOM: 0px; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#dcdcdc,endColorStr=white) progid:DXImageTransform.Microsoft.Glow(color=black,strength=1); BORDER-LEFT: 0px; PADDING-BOTTOM: 1px; WIDTH: 125px; FONT: 8pt Verdana; HEIGHT: 20px; COLOR: #555555; BORDER-TOP: 0px; CURSOR: hand; BORDER-RIGHT: 0px; PADDING-TOP: 1px
}
.S1 {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
.browsebox {
	BORDER-BOTTOM: #6699cc 1px solid; BORDER-LEFT: #6699cc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; WIDTH: 300px; PADDING-RIGHT: 1px; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-TOP: #6699cc 1px solid; BORDER-RIGHT: #6699cc 1px solid; PADDING-TOP: 0px
}
.subhead {
	FONT-FAMILY: verdana,arial,helvetica; COLOR: #6699cc; FONT-SIZE: 22px; FONT-WEIGHT: bold
}
.subheadb {
	FONT-FAMILY: arial,helvetica; COLOR: #6699cc; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.subhead2 {
	FONT-FAMILY: arial,helvetica; COLOR: #6699cc; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.subhead3 {
	FONT-FAMILY: arial,helvetica; COLOR: #6699cc; FONT-SIZE: 12px
}
.border22 {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; BORDER-TOP: silver 1px solid; BORDER-RIGHT: #e4e4e4 1px solid
}
.border2b {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; BORDER-TOP: silver 1px solid; BORDER-RIGHT: #e4e4e4 1px solid
}
.border2 {
	BORDER-BOTTOM: silver 1px solid
}
.DataGridHeader TD {
	BORDER-BOTTOM: #e4e4e4 1px solid; POSITION: relative; BORDER-LEFT: 0px outset; BACKGROUND-COLOR: #f6f6f6; FONT-FAMILY: verdana; COLOR: black; FONT-SIZE: 10px; BORDER-TOP: 0px outset; BORDER-RIGHT: 0px outset
}


.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block;      repeat-x; 
     background: url(///images/centreimage.png) repeat right ;}
.menu li{ margin:0; list-style:none; display:inline; padding : 0px 6px 0px 0px;  }
.menu li a{float:left;  padding : 0px 5px 0px 0px; display:block; color:steelBlue  ;
      text-decoration:none; font:11px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; 
            background: url(///images/centreimage.png) repeat right ;
      outline:none;}   
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px;
     background: url(///images/centreimage.png) 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:Black ;}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:10px Verdana, Arial, Helvetica, sans-serif;
      background: url(///images/centreimage.png) 0px -90px no-repeat; color:rgb(222,215,215);}
.menu li a.active span, .menu li a.active:hover 
span{ background: url(///images/centreimage.png)100% -90px no-repeat;}
        




   .ajax__myTab .ajax__tab_header 
   {      
        font-family: verdana,tahoma,helvetica; 
        font-size: 11px;     
        border-bottom: solid 0px #999999 ; 
        color: #2D5764;  font-weight:bold  ; 
        border-right: solid 0px #999999 ;
        padding-left:0px;
        
        } 
   .ajax__myTab .ajax__tab_outer { padding-right: 0px; height: 30px;
      margin-right: 0px; border-top: solid 1px #aaaaaa  ;border-right:  0px }   
         
   .ajax__myTab .ajax__tab_inner {padding-left: 3px;background-color :inactivecaption ; height:30px }         
   .ajax__myTab .ajax__tab_tab {height: 13px; padding: 4px; margin: 0;}     
       
   .ajax__myTab .ajax__tab_hover .ajax__tab_outer {background-position:0px -60px; color:Blue ;   }         
   .ajax__myTab .ajax__tab_hover .ajax__tab_inner {background-position:0px -60px; color:Blue ;     }         
   .ajax__myTab .ajax__tab_hover .ajax__tab_tab 

   .ajax__myTab .ajax__tab_active .ajax__tab_outer {color :#0000ff;}         
   .ajax__myTab .ajax__tab_active .ajax__tab_inner {background: url(/images/centreimage.png); border-bottom: solid 0px #999999;color: skyblue     }   
   .ajax__myTab .ajax__tab_active .ajax__tab_tab {}        
  
   .ajax__myTab .ajax__tab_body {font-family: verdana,tahoma,helvetica;font-size: 20pt;border: 0px solid #999999;   
                                border-top: 0;padding: 8px;background: url(/images/centreimage.png) }


.navigation a span
{
background: url(/images/tab_right.gif) right top no-repeat;
padding: 8px 10px 2px 0;

} 
#navigation ul
{
list-style: none;
padding: 0;
margin: 0
}

#navigation li
{
float: left;
margin: 0;
} 

