<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="10240" />
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="~/Login.aspx" protection="All" timeout="20"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10240" maxQueryString="2048"/>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="ConnectionString" value="Server=localhost;Database=EMS;User Id=sa;Password=password;"/>
    <add key="ApplicationName" value="E-Management System"/>
  </appSettings>
  <connectionStrings>
    <add name="EMSConnection" connectionString="Server=localhost;Database=EMS;User Id=sa;Password=password;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
